
.app-container {
   display: grid;
   grid-template-columns: 5% 1fr 5%;
}

.nav-bar {
   grid-column: 1/4;
}


.books-container {
   grid-column: 2;
   display: grid;
   grid-template-rows: repeat(5, 1fr);
}

.grade-container{
   display: grid;
   margin-bottom: 5%;
   grid-template-rows: 20% 80%;
   grid-template-columns: 10% 1fr 10%;

}

.my-books {
   display: grid;
   grid-template-rows: 5% 20% 70% 5% ;
   grid-row: 1/2;
   grid-column: 2;
   text-align: center;
}

.kindergarten {
   display: grid;
   grid-template-rows: 5% 20% 70% 5%;
   grid-row: 2/3;
   grid-column: 2;
   text-align: center;
}

.first-grade {
   display: grid;
   grid-template-rows: 5% 20% 70% 5% ;
   grid-row: 3/4;
   grid-column: 2;
   text-align: center;
}

.second-grade {
   display: grid;
   grid-template-rows: 5% 20% 70% 5% ;
   grid-row: 4/5;
   grid-column: 2;
   text-align: center;
}

.third-grade {
   display: grid;
   grid-template-rows: 5% 20% 70% 5% ;
   grid-row: 5/6;
   grid-column: 2;
   text-align: center;
}

.single-book-container{
   grid-column: 2;
}

.book-cover-container{
   min-width: 100%;
   min-height: 100%;
}

.single-book{
   display: flex;
   grid-row: 2;
   text-align: center;
   border: solid;
   border-radius: 5%;
   width: 20%;
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
}

.book-cover{
   display: flex;
   border-radius: 5%;
   width: 60%;
   align-self: center;
   justify-content: center;
   text-align: center;
   grid-row: 2
}

.grade-title{
   grid-column: 1/4;
   text-align: center;
}


.three-books{
   display: flex;
   grid-column: 2;
   grid-row: 2;
   max-width: 100%;
   justify-content: space-around;

}

.arrow-div-forward{
   display: flex;
   grid-row: 2;
   grid-column: 3;
   justify-content: center;
   align-items: center;
}

.arrow-div-backward{
   display: flex;
   grid-row: 2;
   grid-column: 1;
   justify-content: center;
   align-items: center;

}

.paragraph-container{
   display: grid;
   grid-column: 1/4;
   height: 90vh;
   grid-template-columns: 15% 70% 15%
}

.paragraph-show-div{
   grid-column: 2;
}

/* Make it a marquee */
.marquee {
height: 90vh;
width: 80%;
margin-left: 10%;
overflow: hidden;
position: relative;
}

.marquee span  {
   white-space: pre-wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 80px;
    font-size: 4em;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-up 5s linear infinite;
    -webkit-animation: scroll-up 5s linear infinite;
    animation: scroll-up 5s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
    0%   {
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%);
    }
    100% {
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%);
    }
   }

   .increase-speed{
      grid-column: 1;
      height: 10%;
   }

   .decrease-speed{
      grid-column: 3;
      height: 10%;
   }
